{% extends 'base.html' %}

{% block content %}

<form action="/articles" method="post">
    <input type="hidden" name="author_id" value="{{ session.get('user_id') }}">

    <div class="form-group row">
      <label for="articleTitle" class="col-md-6 col-form-label">Article Title</label>
      <div class="col-md-6">
          <input type="text" class="form-control" name="title" id="articleTitle"">
      </div>
    </div>

    <div class="form-group">
      <label for="articleContent">Content</label>
      <textarea name="content" class="form-control" id="articleContent" rows="25">
      </textarea>
    </div>
    <input type="submit" value="Publish">
</form>

{% endblock %}
